<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wrinkless</title>

	<link rel="stylesheet" href="./styles/main.min.css">
</head>

<body>

	<!-- header -->
	<header class="header">
		<!-- container -->
		<div class="header-container container">

			<div class="toggle-nav">
				<span class="hide-max-sm">Меню</span>
			</div>

			<a href="#" class="header__logo">
				<img src="./img/logo.svg" alt="#" class="header__logo-img" width="160" height="20">
			</a>

			<nav class="nav hide-max-lg">
				<ul class="nav__list">
					<li class="nav__item"><a href="#" class="nav__link active">Красота и здоровье</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Техника</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Искусство</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Продукты</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Авто</a></li>
				</ul>
			</nav>

		</div>
		<!-- /container -->

		<!-- top-banner -->
		<div class="top-banner">
			<!-- top-banner__container -->
			<div class="top-banner__container container">

				<div class="top-banner__text">December Sale</div>

				<img src="./img/top-banner.png" alt="#" class="top-banner__img">

				<a href="#" class="top-banner__discount">Discount Up to 50 %</a>

			</div>
			<!-- /top-banner__container -->
		</div>
		<!-- /top-banner -->
	</header>
	<!-- /header -->

	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<a href="#">Красота и здоровье</a>
			<a href="#">Ухаживающая косметика</a>
			<a href="#">Сыворотки для лица</a>
		</div>
	</div>
	<!-- /breadcrumbs -->

	<!-- main -->
	<main class="container">
		<!-- main-header -->
		<header class="left-content main-header">
			<h1>Обзор сыворотки для лица с эффектом фильтров Instagram: реально омолаживает!</h1>

			<p class="main-header__date">Опубликовано: 8 декабря 2021, 19:56</p>

			<!-- main-header__info -->
			<div class="main-header__info">

				<!-- main-header__info-author -->
				<div class="main-header__info-author">

					<div class="ava ava-verified">
						<img src="img/pic_ava.png" alt="#" class="ava-img">
					</div>
					<p class="main-header__info-author-name">Plasketta</p>
					<p class="main-header__info-author-year">33 года</p>

				</div>
				<!-- /main-header__info-author -->

				<div class="main-header__info-star">
					<img loading="lazy" src="./img/icon_5stars.svg" alt="#" class="main-header__info-star-img">
					<span>24 отзыва</span>
				</div>

				<div class="main-header__info-rating">
					<div class="main-header__info-rating-like">+890</div>
					<div class="main-header__info-rating-dislike">-17</div>
				</div>

				<div class="main-header__info-social">
					<a href="#" class="main-header__info-social-link">
						{% include 'img/social_active_telegram.svg' %}
					</a>
					<a href="#" class="main-header__info-social-link">
						{% include 'img/social_active_instagram.svg' %}
					</a>
					<a href="#" class="main-header__info-social-link">
						{% include 'img/social_active_onlyfans.svg' %}
					</a>
					<a href="#" class="main-header__info-social-link">
						{% include 'img/social_active_twitter.svg' %}
					</a>
				</div>

			</div>
			<!-- /main-header__info -->
		</header>
		<!-- /main-header -->

		<!-- banner -->
		<div class="banner">
			<div class="block-prod">
				<img loading="lazy" src="./img/wrinkless_box.png" alt="#">
				<a href="#" class="block-prod__btn">Заказать Wrinkless на официальном сайте</a>
				<img loading="lazy" src="./img/icon_trustmarks.png" alt="#">
			</div>
		</div>
		<!-- /banner -->

		<!-- section -->

		<section class="left-content">
			<h2>Лифтинг лишним не бывает, как в 25 лет, так и в 60! Рекомендую эту универсальную сыворотку для лица. Для такого бюджетного средства - эффект просто ВАУ!</h2>

			<p>Девочки, привет! Знаю, что многие с нетерпением ждали обзор Wrinkless Serum. Получайте!</p>
			<p>Итак, начнем.</p>

			<p><b class="caps">УПАКОВКА:</b> флакон с пипеткой + бумажная коробка. Скромно. Многих это смущает и даже отпугивает от покупки, но не меня.</p>
			<p>Я не сужу начинку по обертке и вам не советую. Чем больше у упаковки выкрутасов, тем она дороже, соответственно, тем дешевле сырье самого продукта.</p>

			<p><b class="caps">СОСТАВ:</b> потрясающий. Витамин Е, масло лесного ореха, сливовое масло, масло макадамии, масло жожоба, масло косточек абрикоса, масло семян красной малины.</p>
			<p>К составу вопросов нет. Как видим, <b>продукт на 100% органический.</b></p>

			<p><b class="caps">ЧТО ВНУТРИ ФЛАКОНА?</b></p>

			<img loading="lazy" src="./img/pic_01.jpg" alt="#">

			<p>Сыворотка приятного запаха, без резкой отдушки.</p>
			<p>Консистенция не водянистая, на коже не расплывается. Это облегчает нанесение и делает расход экономичным.</p>
			<p><b class="caps">ПРОИЗВОДИТЕЛЬ WRINKLESS SERUM ОБЕЩАЕТ:</b> эффект фотошопа/бэби фейс/гладкая кожа и равномерный тон лица</p>

			<ul class="green-list">
				<li class="green-item">разглаживание морщин</li>
				<li class="green-item">осветление пигментных пятен</li>
				<li class="green-item">эффект подтяжки/улучшение тонуса кожи лица и четкий контур овала</li>
				<li class="green-item">увлажнение</li>
				<li class="green-item">стимуляция выработки естественного коллагена</li>
				<li class="green-item">регенерация клеток/ усиливает их защитную функцию и продлевает жизнь.</li>
			</ul>

			<p class="notes">Информация <a href="#" class="link">с официального сайта.</a></p>

			<img loading="lazy" src="./img/pic_02.jpg" alt="#">

			<p><b class="caps">ЗВУЧИТ НЕПЛОХО, А ЧТО НА САМОМ ДЕЛЕ?</b></p>
			<p>Мне 33. В силу возраста, кожа уже не идеальна. Тусклый цвет, неровный тон, кое-где видна пигментация. Мимические морщину на лбу, около глаз и уголков губ. Явно выражены носогубные и межбровные заломы. Короче говоря, без коррекции фильтрами не обойтись :(</p>

			<img loading="lazy" src="./img/pic_03.jpg" alt="#">

			<p><b class="caps">ПЕРВЫЙ ЗАТЕСТ</b></p>
			<p>Сыворотка впитывается мгновенно, не липнет и не оставляет эффекта пленки на лице (у меня комби кожа: Т-зона обычно жирнит, а на щеках сухая и часто шелушится).</p>
			<p>Для лица и шеи достаточно две-три капли. Флакона хватит надолго.</p>
			<p>Я нанесла Wrinkless вечером, а утром глядя в отражение зеркала не могла поверить, что эта красотка — я. Никаких темных кругов и мешков под глазами.</p>
			<p>Обычно по утрам я тратила 30 минут на то, чтобы довести лицо до состояния “не стыдно выйти в люди”. Это 100 лимфодренажных прыжков, массаж лица скребком гуаша и кубиком льда, затем макияж. Закончив все эти манипуляции, я запрыгивала в одежду и выбегала в офис</p>
			<p><b>А тут проснулась и уже красотка!</b> Появилось время собраться не спеша и позавтракать.</p>

			<img loading="lazy" src="./img/pic_04.jpg" alt="#">

			<p><b class="caps">1 НЕДЕЛЯ ИСПОЛЬЗОВАНИЯ</b></p>
			<p>Кардинально изменился цвет лица. Исчез болезненный вид и серо-желтый оттенок. Вместо этого выгляжу свежо, кожа приятного, здорового оттенка, с румянцем, как у девушки-подростка.</p>
			<p>Верю, что будет еще лучше.</p>

			<p><b class="caps">2 НЕДЕЛЯ ИСПОЛЬЗОВАНИЯ</b></p>
			<p>Я использовала сыворотку Wrinkless два раза в день: утром и вечером.</p>
			<p>Поразил стойкий эффект сыворотки в течение дня. Никакой сухости и стянутости. Жирного блеска тоже не было, даже в Т-зоне.</p>
			<p>Появилось сияние, о котором часто говорят в рекламе. Особенно видно было при дневном освещении. Кожа будто отражает солнечный свет.</p>
			<p>К концу второй недели флакон выглядел почти нетронутым. Это доказало экономичный расход сыворотки.</p>

			<img loading="lazy" src="./img/pic_05.jpg" alt="#">

			<p><b class="caps">3 НЕДЕЛЯ ИСПОЛЬЗОВАНИЯ</b></p>
			<p>Рассматривая свое отражение в зеркале, я заметила, что мимика перестала оставлять след в виде морщин на лице. Улыбаюсь или хмурюсь — ни единого намека на ненавистные полосочки.</p>
			<p>Кожа будто благодарила за Wrinkless — она мягкая на ощупь, но в то же время упругая, к ней было приятно прикасаться. Заметно посветлели пигментные пятна на лбу и щеках. Наверное, это обрадовало меня больше всего. Так как раньше мне приходилось смешивать несколько оттенков корректоров и тональных основ, чтобы замаскировать свою “леопардовую” кожу.</p>
			<p>Wrinkless не только делает кожу совершенной, но и экономит кучу времени на сборы и обратку фото. Теперь мне не стыдно загрузить свое фото в соцсеть без фотошопа и фильтров! И я горжусь этим.</p>

			<img loading="lazy" src="./img/pic_06.jpg" alt="#">

			<p><b class="caps">4 НЕДЕЛЯ ИСПОЛЬЗОВАНИЯ</b></p>
			<p>Сыворотка Wrinkless не подвела! Это восторг!</p>
			<p>Если раньше мое лицо можно было сравнить с мятой скатертью в заломах, то сейчас кожа - как персик!</p>
			<p>Еще недавно мои носогубные складки были глубокими, как Гранд - Каньон. За месяц они стали едва заметны.</p>
			<p>Кожа гладкая и шелковистая. Лицо будто нитями натянули, овал стал более четким и выраженным: скулы, углы молодости. А пигментные пятна сравнялись с тоном кожи.</p>
			<p>Кожа просто идеальная,здоровая, сияющая! Даже без макияжа выгляжу отдохнувшей, будто только с курорта.</p>

			<img loading="lazy" src="./img/pic_07.jpg" alt="#">

			<p>Сравнивая финальные фото с первыми, трудно поверить, что прошло всего 4 недели. Если бы это не произошло лично со мной я бы предположила, что прошел минимум год и десятки косметологических процедур, либо час работы в фотошопе.</p>

			<img loading="lazy" src="./img/pic_08.jpg" alt="#">

			<p><b class="caps">ИТОГИ</b></p>
			<p>Мой вердикт: <b>Wrinkless будто отличник, выполняет свои функции на 5+.</b></p>
			<p>Богатейший состав за такие деньги и эффект салонного ухода налицо. За небольшую сумму вы получаете средство с ВАУ эффектом.</p>
			<p>Как только эта сыворотка закончится, однозначно куплю еще. Теперь это мое любимое средство!</p>

			<img loading="lazy" src="./img/pic_09.jpg" alt="#">

			<p>К покупке рекомендую! (НАСТОЯТЕЛЬНО).</p>
			<p>Ну и по традиции, пишите комментарии и делитесь моим отзывом со своими подругами. По себе знаю, как морщины омрачают жизнь. Держать сыворотку в секрете не имею права. Для тех кому срочно нужно преобразиться я прикрепляю ссылку на официальный сайт, где вы можете заказать Wrinkless без наценки косметологов и аптек:</p>

			<div class="block-prod">
				<img loading="lazy" src="./img/wrinkless_box.png" alt="#">
				<a href="#" class="block-prod__btn">Заказать Wrinkless
					на официальном сайте</a>
				<img loading="lazy" src="./img/icon_trustmarks.png" alt="#">
			</div>

		</section>
		<!-- /section -->

		<!-- comments -->

		<section class="left-content comments">
			<h2 class="comments-heading">Комментарии <span>42</span></h2>

			<!-- comments-list -->
			<ul class="comments-list">

				<li class="comments-item">
					<div class="comments-header">
						<img loading="lazy" src="./img/ava_default.png" alt="#" class="ava-img">
						<p class="comments-name">Maria</p>
						<p class="comments-date">3 дня назад</p>
					</div>
					<p>НАКОНЕЦ-ТО. Я ждала месяца два, уже точно, чтобы кто-то отзыв написал. Заказываю!</p>
				</li>

				<li class="comments-item">
					<div class="comments-header">
						<img loading="lazy" src="./img/ava_default.png" alt="#" class="ava-img">
						<p class="comments-name">Иннесссска</p>
						<p class="comments-date">3 дня назад</p>
					</div>
					<p>Согласна. Прям ВАУ! Лицо будто после каких-то крутых процедур.</p>
					<img loading="lazy" src="./img/attach_01.jpg" alt="#">
				</li>

				<li class="comments-item">
					<div class="comments-header">
						<img loading="lazy" src="./img/ava_01.png" alt="#" class="ava-img">
						<p class="comments-name">Olya Ponarovskaya</p>
						<p class="comments-date">2 дня назад</p>
					</div>
					<p>Девочки, здравствуйте. Из всего огромного количества уходовой косметики сыворотка Wrinkless реально хоть как-то привела мое лицо в порядок. Не думала, что без ботокса и других инъекций смогу от морщин избавиться. От одного вида иглы теряю сознание. Утром наносила на лицо тонким (обычным) слоем, а на ночь плотным, как маску. Результатом очень довольна. Кожа стала бархатистая и приятная на ощупь, упругая. Даже пигментные пятна скрылись. Пользуюсь около года и уже заканчиваю третью баночку. В 55 лет выглядеть на 45 — по моему нет ничего лучше. Вот мое фото:</p>
					<img loading="lazy" src="./img/attach_02.jpg" alt="#">
				</li>

				<li class="comments-item">
					<div class="comments-header">
						<img loading="lazy" src="./img/ava_02.png" alt="#" class="ava-img">
						<p class="comments-name">Nikitina_Diana</p>
						<p class="comments-date">вчера, 15:49 </p>
					</div>
					<p>Автор, присоединяюсь к рекомендациям про Wrinkless. Очень хорошее средство. Не скажу что прям сразу, но эффект появился когда начала по 3-4 раза в день использовать. Но это и не странно, раньше на себя ни денег ни времени не было. Тут пишут что в 55 выглядят на 45, а у меня было наоборот. Все от нелегкой жизни. Надеюсь с таким помощником еще получится преобразиться. Сыворотка напитала кожу и морщины будто вытолкали изнутри. Если так пойдет и дальше, то через пару месяцев даст Бог новая жизнь не за горами. Очень хочется встретить хорошего мужчину и быть счастливой.</p>
					<img loading="lazy" src="./img/attach_03.jpg" alt="#">
				</li>

				<li class="comments-item">
					<div class="comments-header">
						<img loading="lazy" src="./img/ava_default.png" alt="#" class="ava-img">
						<p class="comments-name">arianna</p>
						<p class="comments-date">вчера, 18:07 </p>
					</div>
					<p>Это находка года! Ни одна биоревитализация и мезотерапия не давала такого эффекта как сыворотка Wrinkless. Использую 2 раза в день. Я теперь вряд ли эту баночку на что - то променяю.</p>
					<img loading="lazy" src="./img/attach_04.jpg" alt="#">
				</li>

				<li class="comments-item">
					<div class="comments-header">
						<img loading="lazy" src="./img/ava_default.png" alt="#" class="ava-img">
						<p class="comments-name">London_living</p>
						<p class="comments-date">сегодня, 9:44</p>
					</div>
					<p>Когда доходит до эффекта, который ты видишь своими глазами. как меняется твое лицо все сомнения уходят прочь! Я тоже не особо верила в эффект, но заказала Wrinkless после прочтения этой статьи. Что еще оставалось делать? Мне 40 а я все еще не замужем, мужчины смотрели будто сквозь меня. Лицо было покрыто морщинами. А спустя три месяца их совсем нет! Так что дамы, не вздумайте ставить на себе крест! Даже у таких как я все получилось!</p>
					вставить видео.
				</li>

				<li class="comments-item">
					<div class="comments-header">
						<img loading="lazy" src="./img/ava_default.png" alt="#" class="ava-img">
						<p class="comments-name">Nasty_nesty</p>
						<p class="comments-date">сегодня, 12:58</p>
					</div>
					<p>Мне муж подарил эт сыворотку на годовщину. Я сначала расстроилась — думала фигня какая-то. Фирма то совсем неизвестная. Я обычно babor или biologic пользуюсь. Но средство на удивление прям порадовало. Эффект не хуже, чем от люкса. Кожа сияет</p>
					<img loading="lazy" src="./img/attach_06.jpg" alt="#">
				</li>

				<li class="comments-item">
					<div class="comments-header">
						<img loading="lazy" src="./img/ava_default.png" alt="#" class="ava-img">
						<p class="comments-name">Michele</p>
						<p class="comments-date">сегодня, 13:27</p>
					</div>
					<p>Хороший крем, давно им пользуюсь. Очень нравится, что там все натуральное.</p>
					<img loading="lazy" src="./img/attach_01.jpg" alt="#">
				</li>

			</ul>
			<!-- /comments-list -->

			<div class="block-prod">
				<img loading="lazy" src="./img/wrinkless_box.png" alt="#"> <a href="#" class="block-prod__btn">Заказать Wrinkless на официальном сайте</a>
				<img loading="lazy" src="./img/icon_trustmarks.png" alt="#">
			</div>

		</section>
		<!-- /comments -->

	</main>
	<!-- main -->

	<!-- news -->
	<article class="news container">
		<h2 class="news-heading">Популярное по теме</h2>
		<ul class="news-list">
			<li class="news-item">
				<a href="#" class="news-link">
					<img loading="lazy" src="./img/teaser_01.jpg" alt="#" class="news-img">
					Реально ли выглядеть в 55 на 45?</a>
				<p class="news-date">18 декабря, 16:27</p>
			</li>
			<li class="news-item">
				<a href="#" class="news-link">
					<img loading="lazy" src="./img/teaser_02.jpg" alt="#" class="news-img">
					Бьюти-эксперты рекомендуют эту сыворотку, потому что...</a>
				<p class="news-date">9 ноября, 13:40</p>
			</li>
			<li class="news-item">
				<a href="#" class="news-link">
					<img loading="lazy" src="./img/teaser_03.jpg" alt="#" class="news-img">
					Сейчас и 10 лет назад: эти женщины выглядят абсолютно одинаково!</a>
				<p class="news-date">30 сентября, 8:52</p>
			</li>
			<li class="news-item">
				<a href="#" class="news-link">
					<img loading="lazy" src="./img/teaser_04.jpg" alt="#" class="news-img">
					Тест: на сколько лет выглядит твоя кожа?</a>
				<p class="news-date">13 декабря, 10:09</p>
			</li>
			<li class="news-item">
				<a href="#" class="news-link">
					<img loading="lazy" src="./img/teaser_05.jpg" alt="#" class="news-img">
					Как избавиться от морщин быстро и недорого?</a>
				<p class="news-date">7 декабря, 19:31</p>
			</li>
		</ul>
	</article>
	<!-- /news -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div>
				<div class="copi">© <span class="ryear">2022</span> We recommend™</div>
			</div>

			<ul class="footer-list">
				<li class="footer-item"><span>Terms of Use</span></li>
				<li class="footer-item"><span>About us</span></li>
				<li class="footer-item"><span>Privacy Policy</span></li>
				<li class="footer-item"><span>Cookies</span></li>
				<li class="footer-item"><span>Contact us</span></li>
				<li class="footer-item"><span>Advertisement</span></li>
			</ul>
		</div>
	</footer>
	<!-- /footer -->
	<script src="http://ctr-localhost.ru/vlad/jq.js"></script>
	<script src="./js/slick.min.js"></script>
	<script>
		// style
		function asyncCss(files) {
			files.forEach(file => {
				let link = document.createElement('link');
				link.href = file;
				link.rel = 'stylesheet';

				document.head.append(link);
			});

		}

		asyncCss(['styles/fonts.min.css', 'css/slick.css']);

		$('.news-list').slick({
			slidesToShow: 5,
			slidesToScroll: 5,
			responsive: [{
					breakpoint: 880,
					settings: {
						slidesToShow: 4,
						slidesToScroll: 4
					}
				}, {
					breakpoint: 712,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 3
					}
				}, {
					breakpoint: 544,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 2
					}
				},
				{
					breakpoint: 376,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});
	</script>

</body>

</html>
